/* 

h1 {
    background-color: darkblue;
    color: white;
    }
p {
    color: blueviolet;
    font-size: 40px;
}
div p {
    color: red;
    background-color: black;
    height: 300px;
} */
h2 {
    margin-top: 50px;
    padding-left: 65px;
}
.main-container-div {
    margin-left: 60px;
    margin-top: -62px;
    display: flex;
}

.sub-container-div {
    height: 180px;
    width: 50%;
    background-color: rgb(240, 238, 248); 
    display: flex;
    margin-top: 60px ;
    border-radius: 10px;
    border: 1px solid grey;
}
.sub-contain-div {
    position: relative;
    
}
.sub-contain-div,
.heading3 {
    padding-top: 3px;
    padding-left: 10px;
}
.sub-contain-div,
h4,
a {
    padding-left: 6px;
    text-decoration: none;
}
.sub-contain-div,
p {
    padding-left: 10px;
}